<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="navbar-brand" href="#"><i class="fa fa-home"></i> Peer Review</div>
  <button *ngIf="hasAnyOneLoggedIn" class="navbar-toggler" type="button" (click)='toggleNav()' data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="hasAnyOneLoggedIn" class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': isNavBarOpen}">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav">
      <li ngbDropdown  class="nav-item dropdown" >
        <span ngbDropdownToggle class="nav-link dropdown-toggle"  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle fa-2x"></i>
        </span>
        <div ngbDropdownMenu placement="left-bottom" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <span class="dropdown-item" href="#">Welcome</span>
          <span class="dropdown-item" href="#">Joydev Das</span>
          <div class="dropdown-divider"></div>
          <span class="dropdown-item" href="#">Log out</span>
        </div>
      </li>
    </ul>
  </div>
</nav>