<div class="dashboard">
  <div class="row">
    <!-- accordian start -->
    <div class="col-3">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span class="hidden-xs">Chart View</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div><a [routerLink]="['./rate']"><i class="fa fa-bar-chart-o"></i> Bar</a></div>
            <div><a [routerLink]="['./rate']"><i class="fa fa-pie-chart"></i> <span class="hidden-xs"> Pie</span></a></div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Grid View</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div><a [routerLink]="['./admin/add']"><i class="fa fa-users"></i> People</a></div>
            <div><a [routerLink]="['./admin/add']"><i class="fa fa-envelope-o"></i> Average</a></div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>People View</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div><a [routerLink]="['./admin/add']"><i class="fa fa-male"></i> Individual Result</a></div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <!-- accordian end -->
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>