<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="navbar-brand" href="#"><i class="fa fa-home"></i> View All Peers</div>
</nav>
<table class="t-responsive">
  <thead>
    <tr>
      <th scope="col">CTS ID</th>
      <th scope="col">Peer Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="CTS ID">347644</td>
      <td data-label="Peer Name" align="center">Joydev Das</td>
      <td data-label="Designation" align="center">Senior Associate</td>
      <td data-label="Role" align="center">Elaluater</td>
      <td data-label="Action" align="center">Edit Delete</td>
    </tr>
    <tr>
      <td data-label="CTS ID">347644</td>
      <td data-label="Peer Name" align="center">Joydev Das</td>
      <td data-label="Designation" align="center">Senior Associate</td>
      <td data-label="Role" align="center">Elaluater</td>
      <td data-label="Action" align="center">Edit Delete</td>
    </tr>
    <tr>
      <td data-label="CTS ID">347644</td>
      <td data-label="Peer Name" align="center">Joydev Das</td>
      <td data-label="Designation" align="center">Senior Associate</td>
      <td data-label="Role" align="center">Elaluater</td>
      <td data-label="Action" align="center">Edit Delete</td>
    </tr>
    <tr>
      <td data-label="CTS ID">347644</td>
      <td data-label="Peer Name" align="center">Joydev Das</td>
      <td data-label="Designation" align="center">Senior Associate</td>
      <td data-label="Role" align="center">Elaluater</td>
      <td data-label="Action" align="center">Edit Delete</td>
    </tr>
  </tbody>
</table>
<ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>